<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InRule.Authoring.Core" version="5.0.16" targetFramework="net452" />
  <package id="InRule.irAuthor.SDK" version="5.0.16" targetFramework="net452" />
  <package id="InRule.Repository" version="5.0.16" targetFramework="net452" />
  <package id="InRule.Runtime" version="5.0.16" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net452" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net452" />
</packages>