<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InRule.Authoring" version="4.6.27.561" targetFramework="net452" developmentDependency="true" />
  <package id="InRule.Authoring.Windows" version="4.6.27.561" targetFramework="net452" developmentDependency="true" />
  <package id="InRule.Core" version="4.6.27.561" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net452"  />
  <package id="NuGet.Core" version="2.9.0" targetFramework="net452" />
</packages>